* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

header {
    background-color:#000000;
    height: 170px;
}

.container_grid {
    width: 1820px;
    margin: 0 auto;
}

.posicionamento_header {
    height: 100%;
    display: flex;
    justify-content: center;
}

.menu {
    width: 1775.43px;
    display: flex;
    justify-content: center;
}
